html,
body {
  height: 100%;
}

body {
  background: #0b1220;
}

.gc-bi-root {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
}

.gc-bi-frame-wrap {
  flex: 1 1 auto;
  min-height: 0;
}

.gc-bi-frame {
  width: 100%;
  height: 100%;
  border: 0;
  background: #ffffff;
}
